body {
    background-color: #f7cac9;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: royalblue;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.match, .choice {
    padding: 8px;
    background-color: white;
    border: 00.5px solid black;
    border-radius: 10px;
}

.choice:hover, .match:hover {
    padding: 8px;
    background-color: gray;
    border: 00.5px solid black;
    border-radius: 10px;
}

.score {
    background-color: azure;
    padding: 16px;
    border: 0.5px solid black;
    border-radius: 20px;

}

.currResult {
    background-color: azure;
    padding: 16px;
    border: 0.5px solid black;
    border-radius: 20px;
}

.final-winner {
    background-color: azure;
    padding: 16px;
    border: 0.5px solid black;
    border-radius: 20px;
}